# Client Configuration
CLIENT_BASE_URI=http://127.0.0.1:3000
CLIENT_THRESHOLD=3
CLIENT_COOLDOWN=60

# BPJS Configuration
BPJS_PROVIDER=

# Cache Configuration
CACHE_DRIVER=file
CACHE_TTL=7884008
CACHE_FILE_PATH=./cache
